<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AA107G3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/aa107g3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/orders/mem.do</url-pattern>
  
    <url-pattern>/member/mem.do</url-pattern>
    <url-pattern>/front_end/mem.do</url-pattern>
    <url-pattern>/back_end/mem.do</url-pattern>
    <url-pattern>/forum/mem.do</url-pattern>
    <url-pattern>/market/mem.do</url-pattern>
    <url-pattern>/cart/mem.do</url-pattern>
    <url-pattern>/member/personal/mem.do</url-pattern>
    <url-pattern>/postpartum_care/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberPhoto</servlet-name>
    <servlet-class>com.member.controller.MemberPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberPhoto</servlet-name>
    <url-pattern>/MemberPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvertisePhoto</servlet-name>
    <servlet-class>com.advertise.controller.AdvertisePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisePhoto</servlet-name>
    <url-pattern>/AdvertisePhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fir_PC_LoginIDcheck</servlet-name>
    <servlet-class>com.firm.controller.Firm_PC_LoginIDcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fir_PC_LoginIDcheck</servlet-name>
    <url-pattern>/front_end/fir_PC_Login.do</url-pattern>
    <url-pattern>/firm/fir_PC_Login.do</url-pattern>
    <url-pattern>/product/fir_PC_Login.do</url-pattern>
    <url-pattern>/postpartum_care/fir_PC_Login.do</url-pattern>
    <url-pattern>/advertise/fir_PC_Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FirmServlet</servlet-name>
    <servlet-class>com.firm.controller.FirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirmServlet</servlet-name>
    <url-pattern>/firm/fir.do</url-pattern>
    <url-pattern>/front_end/fir.do</url-pattern>
    <url-pattern>/back_end/fir.do</url-pattern>
    <url-pattern>/forum/fir.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.manager.controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager/man.do</url-pattern>
    <url-pattern>/back_end/man.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeMemServlet</servlet-name>
    <servlet-class>com.manager.controller.ChangeMemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMemServlet</servlet-name>
    <url-pattern>/back_end/cgmem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeManServlet</servlet-name>
    <servlet-class>com.manager.controller.ChangeManServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeManServlet</servlet-name>
    <url-pattern>/back_end/cgman.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvertiseServlet</servlet-name>
    <servlet-class>com.advertise.controller.AdvertiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseServlet</servlet-name>
    <url-pattern>/advertise/adv.do</url-pattern>
    <url-pattern>/back_end/adv.do</url-pattern>
    <url-pattern>/front_end/adv.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumArticleServlet</servlet-name>
    <servlet-class>com.forum_article.controller.ForumArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumArticleServlet</servlet-name>
    <url-pattern>/forum/FA.do</url-pattern>
    <url-pattern>/back_end/FA.do</url-pattern>
    
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumMessageServlet</servlet-name>
    <servlet-class>com.forum_message.controller.ForumMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumMessageServlet</servlet-name>
    <url-pattern>/forum/FM.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArticleFavoriteServlet</servlet-name>
    <servlet-class>com.article_favorite.controller.ArticleFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleFavoriteServlet</servlet-name>
    <url-pattern>/forum/AF.do</url-pattern>
    <url-pattern>*.AF</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumReportServlet</servlet-name>
    <servlet-class>com.forum_report.controller.ForumReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumReportServlet</servlet-name>
    <url-pattern>/forum/FR.do</url-pattern>
    <url-pattern>/forum_end/FR.do</url-pattern>
    <url-pattern>/back_end/FR.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>filterMem</filter-name>
    <filter-class>filters.filterMem</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterMem</filter-name>
    <url-pattern>/member/*</url-pattern>
    <url-pattern>/forum/ArticleADD.jsp</url-pattern>
    <url-pattern>/forum/ArticleFavorite.jsp</url-pattern>
    <url-pattern>/forum/MyArticle.jsp</url-pattern>
    <url-pattern>/forum/ArticleModify.jsp</url-pattern>
    <url-pattern>/forum/ArticlePublish.jsp</url-pattern>
    <url-pattern>/forum/ArticleReport.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>filterFir</filter-name>
    <filter-class>filters.filterFir</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterFir</filter-name>
    <url-pattern>/firm/*</url-pattern>
    <url-pattern>/advertise/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
   <filter>
    <filter-name>filterPC</filter-name>
    <filter-class>filters.filterPC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterPC</filter-name>
    <url-pattern>/postpartum_care/PersonalPC.jsp</url-pattern>
    <url-pattern>/postpartum_care/PersonalPC_pic.jsp</url-pattern>
    <url-pattern>/postpartum_care/PersonalPC_app.jsp</url-pattern>
    <url-pattern>/postpartum_care/PersonalPC_report.jsp</url-pattern>
	<url-pattern>/postpartum_care/PersonalPC_eva.jsp</url-pattern>
        
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>FirmEvaluationServlet</servlet-name>
    <servlet-class>com.firm_evaluation.controller.FirmEvaluationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirmEvaluationServlet</servlet-name>
    <url-pattern>/member/EVA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ADVTimer</servlet-name>
    <servlet-class>com.advertise.controller.ADVTimer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADVTimer</servlet-name>
    <url-pattern>/ADVTimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>com.orders.controller.OrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/orders/ord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.cart.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart/car.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductPictureServlet</servlet-name>
    <servlet-class>com.product_picture.controller.ProductPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPictureServlet</servlet-name>
    <url-pattern>/product_picture/prp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductPhoto</servlet-name>
    <servlet-class>com.product_picture.controller.ProductPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPhoto</servlet-name>
    <url-pattern>/ProductPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductSpeciServlet</servlet-name>
    <servlet-class>com.product_speci.controller.ProductSpeciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSpeciServlet</servlet-name>
    <url-pattern>/product_speci/psp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <servlet-class>com.product_category.controller.ProductCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoryServlet</servlet-name>
    <url-pattern>/product_category/prc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product/pro.do</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>insScheduleServlet</servlet-name>
    <servlet-class>com.inspection.controller.insScheduleServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>insScheduleServlet</servlet-name>
    <url-pattern>/insScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateDeliveryServlet</servlet-name>
    <servlet-class>com.date_delivery.controller.DateDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateDeliveryServlet</servlet-name>
    <url-pattern>/DateDelivery/date_delivery.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EducationMusicServlet</servlet-name>
    <servlet-class>com.education_music.controller.EducationMusicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationMusicServlet</servlet-name>
    <url-pattern>/DEducationMusic/education_music.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EducationMusicMP3</servlet-name>
    <servlet-class>com.education_music.controller.EducationMusicMP3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EducationMusicMP3</servlet-name>
    <url-pattern>/EducationMusicMP3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReaderBD</servlet-name>
    <servlet-class>com.baby_data.controller.DBGifReaderBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReaderBD</servlet-name>
    <url-pattern>/DBGifReaderBD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VaccineCourseServlet</servlet-name>
    <servlet-class>com.vaccine_course.controller.VaccineCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineCourseServlet</servlet-name>
    <url-pattern>/member/vaccine_course.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetalMovementServlet</servlet-name>
    <servlet-class>com.fetal_movement.controller.FetalMovementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetalMovementServlet</servlet-name>
    <url-pattern>/member/fm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VaccineNotesServlet</servlet-name>
    <servlet-class>com.vaccine_notes.controller.VaccineNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VaccineNotesServlet</servlet-name>
    <url-pattern>/member/vn.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MomHealthServlet</servlet-name>
    <servlet-class>com.mom_health.controller.MomHealthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MomHealthServlet</servlet-name>
    <url-pattern>/member/mh.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InspectionServlet</servlet-name>
    <servlet-class>com.inspection.controller.InspectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InspectionServlet</servlet-name>
    <url-pattern>/member/ins.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BabySleepServlet</servlet-name>
    <servlet-class>com.baby_sleep.controller.BabySleepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BabySleepServlet</servlet-name>
    <url-pattern>/member/bs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BabyGrowthServlet</servlet-name>
    <servlet-class>com.baby_growth.controller.BabyGrowthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BabyGrowthServlet</servlet-name>
    <url-pattern>/member/bg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BabyExcretionServlet</servlet-name>
    <servlet-class>com.baby_excretion.controller.BabyExcretionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BabyExcretionServlet</servlet-name>
    <url-pattern>/member/bex.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BabyEatingServlet</servlet-name>
    <servlet-class>com.baby_eating.controller.BabyEatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BabyEatingServlet</servlet-name>
    <url-pattern>/member/be.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BabyDataServlet</servlet-name>
    <servlet-class>com.baby_data.controller.BabyDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BabyDataServlet</servlet-name>
    <url-pattern>/member/bd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostpartumCareServlet</servlet-name>
    <servlet-class>com.postpartum_care.controller.PostpartumCareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostpartumCareServlet</servlet-name>
    <url-pattern>/postpartum_care/PC.do</url-pattern>
    <url-pattern>/front_end/PC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PC_Picture</servlet-name>
    <servlet-class>com.pc_picture.controller.PC_PictureTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PC_Picture</servlet-name>
    <url-pattern>/PC_PictureTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PcPictureServlet</servlet-name>
    <servlet-class>com.pc_picture.controller.PcPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PcPictureServlet</servlet-name>
    <url-pattern>/postpartum_care/PCP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PcApplicationServlet</servlet-name>
    <servlet-class>com.pc_application.controller.PcApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PcApplicationServlet</servlet-name>
    <url-pattern>/postpartum_care/PCA.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HospitalServlet</servlet-name>
    <servlet-class>com.hospital.controller.HospitalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalServlet</servlet-name>
    <url-pattern>/optional_test/hos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OptionalTestServlet</servlet-name>
    <servlet-class>com.optional_test.controller.OptionalTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionalTestServlet</servlet-name>
    <url-pattern>/optional_test/OT.do</url-pattern>
  </servlet-mapping>
  

  <error-page>
  <error-code>400</error-code>
  <location>/error.jsp</location>
  </error-page>
   <error-page>
  <error-code>404</error-code>
  <location>/error.jsp</location>
  </error-page>
   <error-page>
  <error-code>500</error-code>
  <location>/error.jsp</location>
  </error-page>
  
</web-app>